<section id="proyectos">
    <div class="separador">
        <div>
            <h2>Proyectos</h2>
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
    <div class="proy-col">
        <h2>
            PRO
        </h2>
        <h2>
            YEC
        </h2>
        <h2>
            TOS
        </h2>
    </div>
    <div class="proyectos">
        
        <article class="proyecto">
            <h2 class="proyecto--title">Proyecto 1</h2>
            <figure class="proyecto-img">
                <img src="../../../assets/images/imgex.svg" alt="">
                
            </figure>
            <figcaption>2020</figcaption>
            <p class="cuerpo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloremque hic dolore
                maxime velit rem necessitatibus totam. Quidem ipsum quaerat, odio veritatis nesciunt cum aut harum
                exercitationem, iure minima delectus.</p>
        </article>
        <article class="proyecto">
            <h2 class="proyecto--title">Proyecto 2</h2>
            <figure class="proyecto-img">
               
                <img src="../../../assets/images/imgex.svg" alt="">
            </figure>
            <figcaption>2021</figcaption>
            <p class="cuerpo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla corrupti nisi, ratione
                incidunt nam sequi doloremque. Fugiat, unde maxime eum modi iure corporis quaerat deleniti soluta
                necessitatibus, debitis, quae voluptatum.</p>
        </article>
        <article class="proyecto">
            <h2 class="proyecto--title">Proyecto 3</h2>
            <figure class="proyecto-img">
               
                <img src="../../../assets/images/imgex.svg" alt="">
            </figure>
            <figcaption>2022</figcaption>
            <p class="cuerpo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, odio dolor et
                incidunt quam nihil ratione unde dignissimos ab aperiam ex consectetur, laboriosam a sit optio illo
                saepe atque totam.</p>
        </article>
        <article class="proyecto">
            <h2 class="proyecto--title">Proyecto 1</h2>
            <figure class="proyecto-img">
                <img src="../../../assets/images/imgex.svg" alt="">
                
            </figure>
            <figcaption>2020</figcaption>
            <p class="cuerpo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloremque hic dolore
                maxime velit rem necessitatibus totam. Quidem ipsum quaerat, odio veritatis nesciunt cum aut harum
                exercitationem, iure minima delectus.</p>
        </article>
        <article class="proyecto">
            <h2 class="proyecto--title">Proyecto 2</h2>
            <figure class="proyecto-img">
               
                <img src="../../../assets/images/imgex.svg" alt="">
            </figure>
            <figcaption>2021</figcaption>
            <p class="cuerpo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla corrupti nisi, ratione
                incidunt nam sequi doloremque. Fugiat, unde maxime eum modi iure corporis quaerat deleniti soluta
                necessitatibus, debitis, quae voluptatum.</p>
        </article>
        <article class="proyecto">
            <h2 class="proyecto--title">Proyecto 3</h2>
            <figure class="proyecto-img">
               
                <img src="../../../assets/images/imgex.svg" alt="">
            </figure>
            <figcaption>2022</figcaption>
            <p class="cuerpo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, odio dolor et
                incidunt quam nihil ratione unde dignissimos ab aperiam ex consectetur, laboriosam a sit optio illo
                saepe atque totam.</p>
        </article>
    </div>

</section>