#educacion{
    display: grid;
    grid-template-columns: repeat(12,1fr);
   
}
.cards--educacion{
    grid-column: 2/12;
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
   
}
.card--educacion{
    display: flex;
    width: 45%;
    align-items: center;
    box-shadow: 10px 10px 1px black;
    margin: 2%;
    padding: 2%;
    border-radius: 20%;
    
}
.card--logo{
    width: 60%;
    margin-right: 2%;
   
}
.card--logo img{
    width: 100%;

}
.card--body{
    text-align: justify;
}