<section id="educacion">
    <div class="separador">
        <div>
            <h2>Formación</h2>
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
    <div class="cards--educacion">
        <article class="card--educacion">
            <figure class="card--logo">
                <img src="../../../assets/images/logoutn.jpg" alt="">
            </figure>
            <div class="card--body">
                <h2 class="card--educacion--tittle">
                    FULL STACK DEVELOPER
                </h2>
                <h3 class="card--educacion--subtittle">
                    EXTENSION UNIVERSITARIA - UTN
                </h3>
                <p class="anios"> 2</p>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque corrupti
                    doloribus ab nemo. Minus natus optio tempore at deleniti ullam voluptas fuga voluptatum, ducimus, ab
                    atque facilis eos iure.</p>
            </div>
        </article>
        <article class="card--educacion">
            <figure class="card--logo">
                <img src="../../../assets/images/logoutn.jpg" alt="">
            </figure>
            <div class="card--body">
                <h2 class="card--educacion--tittle">
                    FULL STACK DEVELOPER
                </h2>
                <h3 class="card--educacion--subtittle">
                    EXTENSION UNIVERSITARIA - UTN
                </h3>
                <p class="anios"> 2</p>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque corrupti
                    doloribus ab nemo. Minus natus optio tempore at deleniti ullam voluptas fuga voluptatum, ducimus, ab
                    atque facilis eos iure.</p>
            </div>
        </article>
        <article class="card--educacion">
            <figure class="card--logo">
                <img src="../../../assets/images/logoutn.jpg" alt="">
            </figure>
            <div class="card--body">
                <h2 class="card--educacion--tittle">
                    FULL STACK DEVELOPER
                </h2>
                <h3 class="card--educacion--subtittle">
                    EXTENSION UNIVERSITARIA - UTN
                </h3>
                <p class="anios"> 2</p>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque corrupti
                    doloribus ab nemo. Minus natus optio tempore at deleniti ullam voluptas fuga voluptatum, ducimus, ab
                    atque facilis eos iure.</p>
            </div>
        </article>
        <article class="card--educacion">
            <figure class="card--logo">
                <img src="../../../assets/images/logoutn.jpg" alt="">
            </figure>
            <div class="card--body">
                <h2 class="card--educacion--tittle">
                    FULL STACK DEVELOPER
                </h2>
                <h3 class="card--educacion--subtittle">
                    EXTENSION UNIVERSITARIA - UTN
                </h3>
                <p class="anios"> 2</p>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque corrupti
                    doloribus ab nemo. Minus natus optio tempore at deleniti ullam voluptas fuga voluptatum, ducimus, ab
                    atque facilis eos iure.</p>
            </div>
        </article>
    </div>
</section>