#educacion{
    display: grid;
    grid-template-columns: repeat(12,1fr);
   
}
.cards--educacion{
    grid-column: 2/12;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    flex-wrap: wrap;
   
}
.card--educacion{
    display: flex;
     flex-direction: column;
    width: 100%;
    align-items: center;
background: #FFFCF4;
    margin: 2%;
    padding: 2%;
    box-shadow: -10px 10px 7px gray;
   
    
}
.card--logo{
    width: 60%;
    margin-right: 2%;
   
}
.card--logo img{
    width: 100%;

}
.card--body{
    text-align: justify;
}

/*Tablets y demas*/
@media (min-width:768px){
    .cards--educacion{
        flex-direction: row;
    }
    .card--educacion{
        flex-direction: row;
        width: 45%;
        
        
    }

}