/*Telefonos*/
.supbar{
    
    flex-direction: column;
    display: flex;
    min-height: 550px;
    background: linear-gradient(180deg, #126FA0, #0E5880);
}
.left{
    width: 100%;
    display: flex;
    justify-content: center;
}
.left img{
    width: 75%;
}
.right{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-bottom: 13%;
    height: 100%;
    
}
.right i{
    font-size: 2.5em;
    }
.right i::after{
    content: " ";
    display: block;
    width: 100%;
    background: radial-gradient( rgba(0, 0, 0, 0.3) 0px, rgba(255, 255, 255, 0) 55%);
    margin-top: 10px;
    height: 20px;
    position: relative;
    
}
input[type=button]{
 width: 60%;
 background: white;
 margin: 0 auto;
 margin-bottom: 13%;
 min-height: 50px;
 border-radius: 10px;
 border: white 2px solid;
 color:#126FA0;
 font-size: 1.5em;
 box-shadow: -2px 2px 1px black;

}
@media (min-width:498px){
    .supbar{
        min-height: 600px;
    }
   }
/*Tablets*/
@media (min-width:768px){
    .supbar{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-right: 3%;
        min-height:300px;
        
    }
    .left{
       justify-content: flex-start;
    }
    .left img{
        width: 70%;        
    }
    .right{
       display: flex;
       margin: 0;
       width: 50%;
       margin-right: 5%;
       justify-content: space-evenly;
    }
    input[type=button]{
        margin: 0;
        min-height: 0;
        width: 25%;
        height: 35px;
        border-radius: 5px;
        
    }
    .right i::after{
        display: none;
    }
}
/*PC Y RESOLUCIONES MAYORES*/
@media (min-width:1024px){
    .supbar{
    flex-direction: row;
   flex-wrap: wrap;
    align-content: flex-start;
    min-height: 200px;
        
    }
    
    .left {
        width: 40%;
    }
    .left img{
        width: 50%;
    }
    .right{
        width: 40%;
        margin-bottom: 0;
    }
   
    .right i{
        font-size: 2em;
        cursor: pointer;
        }
    input[type=button]{
        width: 10%;
        font-size: 1em;
        height: 3vw;
        background: transparent;
        border: solid white 3px;
        color: white;
        cursor: pointer;
        border-radius: 8px;
        transition-duration: 0.6s;
        }    
        input[type=button]:hover{
            background: white;
            color: #0E5880;
        }    
}