<section id="laboral">
    <div class="separador">
        <div><h2>Experiencia laboral</h2> 
        <i class="fa-solid fa-plus"></i>
    </div>
       
    </div>
    
    <div class="cards">
        <article data-aos="fade-down" class="card">
            <h2 class="tittle">Experiencia 1</h2>
            <p class="anios">1</p>
            <p class="puesto">Un puesto</p>
            <p class="detalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum, itaque pariatur exercitationem laudantium, cupiditate reprehenderit aperiam placeat temporibus molestiae hic alias ducimus aliquid autem voluptatum. Esse distinctio provident cum!</p>
            <i class="fa-solid fa-xmark"></i>
            <i class="fa-solid fa-pen-to-square"></i>
        </article>
        <article data-aos="fade-down" class="card">
            <h2 class="tittle">Experiencia 2</h2>
            <p class="anios">2</p>
            <p class="puesto">Un puesto</p>
            <p class="detalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum, itaque pariatur exercitationem laudantium, cupiditate reprehenderit aperiam placeat temporibus molestiae hic alias ducimus aliquid autem voluptatum. Esse distinctio provident cum!</p>
        </article>
        <article data-aos="fade-down" class="card">
            <h2 class="tittle">Experiencia 3</h2>
            <p class="anios">3</p>
            <p class="puesto">Un puesto</p>
            <p class="detalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum, itaque pariatur exercitationem laudantium, cupiditate reprehenderit aperiam placeat temporibus molestiae hic alias ducimus aliquid autem voluptatum. Esse distinctio provident cum!</p>
        </article>
        <article data-aos="fade-down" class="card">
            <h2 class="tittle">Experiencia 4</h2>
            <p class="anios">4</p>
            <p class="puesto">Un puesto</p>
            <p class="detalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum, itaque pariatur exercitationem laudantium, cupiditate reprehenderit aperiam placeat temporibus molestiae hic alias ducimus aliquid autem voluptatum. Esse distinctio provident cum!</p>
        </article>
        <article data-aos="fade-down" class="card">
            <h2 class="tittle">Experiencia 5</h2>
            <p class="anios">5</p>
            <p class="puesto">Un puesto</p>
            <p class="detalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum, itaque pariatur exercitationem laudantium, cupiditate reprehenderit aperiam placeat temporibus molestiae hic alias ducimus aliquid autem voluptatum. Esse distinctio provident cum!</p>
        </article>
    </div>
</section>