#laboral{
    display: grid;
    grid-template-columns: repeat(12,1fr);
   
    
}
.cards{
    grid-column: 2/12;
    margin-top: 5%;
}




.card{
    margin-bottom: 5%;
    padding-left: 1%;
    text-align: justify;
    background: white;
    border-left: 15px #126FA0 solid;
    transition: ease 0.3s;
}
.card:hover{
    border-left: 15px #f1c232 solid;
}
