.profilebar{
    width: 100%;
    background-image: url(../../../assets/images/profilebar.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border-bottom: 20px solid skyblue;
   
    
    
}
.profilepic{
    width: 20%;
    display: flex;
    position: relative;
    margin-left: 2%;
    justify-content: center;
    border-radius: 50%;
    border: 20px solid skyblue;
    max-height: 250px;
    overflow: hidden;
    bottom: -125px;
   
}
.profilepic img{
position: relative;
width: 100%;
height: 100%;
top: -50px;
}