.profilebar{
    width: 100%;
    display: flex;
    justify-content: center;
    
   
}
.profilepic{
   border-radius: 100%;
   width: 80%;
   height: 300px;
   overflow: hidden;
   position: relative;
   top: -130px;
   border: solid 20px white;
  }

.profilepic img{
    position: relative;
    width: 100%;
   }