<section id="hask">
    <div class="separador">
        <div>
        <h2>Skills</h2> 
        <i class="fa-solid fa-plus"></i>
        </div>
    </div>
    <div class="hask-col">
      <h2 class="esp-h">
        SKILLS
      </h2>
    </div>
    <div class="skills">
        <article class="skill">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/images/iconos/html.png'"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF4A00'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="350"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
        </article>
        <article class="skill">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'../../../assets/images/iconos/CSS.png'"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#1182e9'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="350"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
        </article>
        <article class="skill">
            <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../../../assets/images/iconos/js.png'"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#f1c232'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="350"
        [imageHeight]="80"
        [imageWidth]="80"
      ></circle-progress>
        </article>
        <article class="skill"><circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../../../assets/images/iconos/git.png'"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="350"
            [imageHeight]="80"
            [imageWidth]="80"
          ></circle-progress></article>
          <article class="skill"><circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../../../assets/images/iconos/grupal.png'"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#000000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="350"
            [imageHeight]="80"
            [imageWidth]="80"
          ></circle-progress></article>
          
          </div>
          
    
</section>
